<div class="container hostel-info content-type-2 " ng-controller="HostelInfoController">
    <ul class="collection">
        <li class="collection-item avatar "  ng-click='redirect(this)'>
            <!-- <img ng-src="/" alt="" class="circle"> -->
            <!-- <div class="lawyer-info"> -->
            <div class="info-type-1">
            <p class="title">Mayank Goel</p>
            <p class="id_number">2014B4A3768P</p>
            </div>
            <div class="info-type-2">
            <p>MLB 2204</p>
            </div>
            <!-- <a href="#!" class="secondary-content">{{chat.time}}</a> -->
            <!-- </div> -->
        </li>
    </ul>
</div>
