<div class="container lawyer-home content-type-2 " ng-controller="LawyerHomeController">
	 <div class="row">
        <div class="col s12 m6">
          <div class="card ">
          <a ui-sref='app.lawyer_clients'>
            <div class="card-content ">
            <div class="icon-wrapper">
	            <img src="images/findlawyer.svg" alt="" class="">
            </div>
				<p class="title">Clients</p>
            </div>
            </a>
          </div>

          <div class="card ">
          <a ui-sref='app.lawyer_upcoming'>
            <div class="card-content ">
            <div class="icon-wrapper">
	            <img src="images/upcoming.svg" alt="" class="">
            </div>
				<p class="title">Upcoming Cases</p>
            </div>
           </a>
          </div>


           <div class="card ">
          <a ui-sref='app.lawyer_casespool'>
            <div class="card-content ">
            <div class="icon-wrapper">
	            <img src="images/casespool.svg" alt="" class="">
            </div>
				<p class="title">Cases Pool</p>
            </div>
            </a>
          </div>

           <div class="card ">
            <a ui-sref='app.lawyer_mycases'>
            <div class="card-content ">
            <div class="icon-wrapper">
	            <img src="images/mycases.svg" alt="" class="">
            </div>
				<p class="title">My Cases</p>
            </div>
            </a>
          </div>
        </div>
      </div>
</div>