<div class="container user-home content-type-2 " ng-controller="UserHomeController">

<div class="row">
        <div class="col s12 m7">
          <div class="card">
            
            <div class="card-content personal-info">
<div class="profile-img">
<img src="images/johndoe.png">
</div>
<div class="info-details"> 
<p class="main-text">Partho Sarthi</p>
<p class="sec-text">2015A7PS088</p>
<p class="sec-text">9999461307</p>
</div>

            </div>
            
          </div>
        </div>
      </div>


<div class="row">
        <div class="col s12 m7">
          <div class="card">
            
            <div class="card-content laundro-info">
            <span class="card-title">Washes</span>
            <div class="wash-info">
            	<div class="tfield">
	            	<p class="thead">Plan</p>
	            	<p class="ttext">5</p>
            	</div>
            	<div class="tfield">
	            	<p class="thead">Apply Date</p>
	            	<p class="ttext">13/02/2017</p>
            	</div>
            	<div class="tfield">
	            	<p class="thead">Washes Remaining</p>
	            	<p class="ttext">5</p>
            	</div>
            

            </div>
              <div class="wash-info-more">
            	<div class="tfield">
	            	<p class="thead">Total Washes</p>
	            	<p class="ttext">8</p>
            	</div>
            	
            	<div class="tfield">
	            	<p class="thead">Washes Remaining</p>
	            	<p class="ttext">5</p>
            	</div>
            

            </div>
            </div>
            <div class="card-action more details" ng-click="show('.less')">
              <a href="#">More Details</a>
            </div>
            <div class="card-action less details" ng-click="show('.more')">
              <a href="#">Less Details</a>
            </div>
           </div>
         </div>
 </div>


<div class="row">
<div class="col s12 m7">
<a class="waves-effect waves-light btn full-btn" id="track_status">TRACK STATUS</a>
</div>
</div>
</div>