<div class="container main-content add-case " ng-controller="AddCaseController">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
        <input type="text" class="validate" ng-model="case.title">
          <label>Case Title</label>
        </div>
        <div class="input-field col s12">
        <input type="date" class="datepicker" ng-model="case.date">
          <label>Start Date</label>
        </div>
        <div class="input-field col s12">
       <textarea class="materialize-textarea" ng-model="case.desc"></textarea>
          <label>Case Description</label>
        </div>
        <div class="file-field input-field col s12">
	      <div class="btn">
	        <span>Upload</span>
	        <input type="file" multiple ng-model="case.files" id="case-docs">
	      </div>
	      <div class="file-path-wrapper">
	        <input class="file-path validate" type="text" placeholder="Related Documents">
	      </div>
	    </div>
        <a class="waves-effect waves-light btn col s12 cust-btn " id="add-case-btn"  ng-click="addCase()">ADD CASE</a>
       </div>
  </form>
</div>
</div>