<div class="container main-content center valign-wrapper " ng-controller="PasswordController">
	<div class="row valign">
		<form class="col s10 offset-s1 m6 offset-m3" >
			<div class="row">
				
				<div class="no-material input-field col s12">
					<input placeholder="Old Password" type="password" class="validate" ng-model="old_password">
				</div>
				<div class="no-material input-field col s12">
					<input placeholder="Password" type="password" class="validate" ng-model="new_password">
				</div>
				<div class="no-material input-field col s12">
					<input placeholder="Confirm Password" type="password" class="validate" ng-model="new_password_confirm">
				</div>
				

				<a class="waves-effect waves-dark btn col s12 cust-btn " id="sign-up" ng-click="submit()">CHANGE PASSWORD</a>
			</div>
		</form>
	</div>
</div>