<div class="container main-content findlawyer " ng-controller="FindLawyerController">
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <select ng-model="caseType" id="case-select">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Civil</option>
            <option value="2">Criminal</option>
            <option value="3">Divorce</option>
          </select>
          <label>Case</label>
        </div>
         <div class="input-field col s12 m6">
          <select ng-model="lawyerExperience">
            <option value="" disabled selected>Choose your option</option>
            <option value="5">5 years</option>
            <option value="10">10 years</option>
            <option value="20">20 years</option>
          </select>
          <label>Lawyer Experience</label>
        </div>
        <a class="waves-effect waves-light btn col s12 cust-btn " id="search-lawyers" ng-click="search()">SEARCH</a>
      </div>
    </form>
  </div>
		
	</div>
