<div class="container laundro-home content-type-2 " ng-controller="LaundroHomeController">
    <a class="waves-effect waves-dark btn full-btn center" id="scan_btn">Scan</a>
    <br
    <div class="hostels">
        <div class="card">
        	<div class="card-content">
        		<h5 class="center">Check Student Status</h5>
        	</div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('MLA')" id="MLA">MLA</a></li>
                    <li class="tab"><a class="" ng-click="redirect('MLB')" id="MLB">MLB</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('MLE')" id="MLE">MLE</a></li>
                    <li class="tab"><a class="" ng-click="redirect('MLC')" id="MLC">MLC</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('AK')" id="AK">AK</a></li>
                    <li class="tab"><a class="" ng-click="redirect('SR')" id="SR">SR</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('VK')" id="VK">VK</a></li>
                    <li class="tab"><a class="" ng-click="redirect('SK')" id="SK">SK</a>/li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                     <li class="tab"><a class="" ng-click="redirect('CVR')" id="CVR">CVR</a></li>
                    <li class="tab"><a class="" ng-click="redirect('DS')" id="DS">DS</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('RAM')" id="RAM">RAM</a></li>
                    <li class="tab"><a class="" ng-click="redirect('DS')" id="DS">DS</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('MR')" id="MR">MR</a></li>
                    <li class="tab"><a class="" ng-click="redirect('RP')" id="RP">RP</a></li>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="" ng-click="redirect('GN')" id="GN">GN</a></li>
                    <li class="tab"><a class="" ng-click="redirect('PS')" id="PS">PS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
