<div class="container main-content mylawyer lawyer-upcoming" ng-controller="LawyerUpcomingController">
    <ul class="collection">
    <li class="collection-item avatar" ng-repeat="case in cases | filter:search.query" ng-click='redirect(this)'>
      <!-- <img ng-src="{{ lawyer.pic}}" alt="" class="circle"> -->
      <div class="lawyer-info">
      <p class="title">{{case.name}}</p>
      <p class="lawyer-type">{{case.client}}</p>
    <!-- <a href="#!" class="secondary-content">{{chat.time}}</a> -->
      </div>
      <div class="active-status">
         <p class="text" ng-class="{'green-text' : case.status=='Ongoing','red-text': case.status=='Declared'}">{{case.status}}</p>


      </div>
    </li>
  
  </ul>
		
	</div>