<div class="container main-content mycases " ng-controller="MyCasesController">
 <ul class="collection">
    <li class="collection-item avatar" ng-repeat="case in cases "ng-click='redirect(this)'>
      <!-- <img ng-src="{{ chat.pic}}" alt="" class="circle"> -->
      <p class="case-title">{{case.title}}</p>
      <p class="case-date">{{case.date}}</p>
      <!-- <p class="chat-message">{{chat.distance}}</p> -->
    <!-- <a href="#!" class="secondary-content">{{chat.time}}</a> -->
    </li>
  
  </ul>
		 <div class="fixed-action-btn">
    <a class="btn-floating btn-large" ui-sref='app.add_case'>
      <i class="large material-icons">add</i>
    </a>
  </div>
	</div>
