<div class="full-width profile-sec row" ng-controller='ProfileController'>
		<div class="profile-pic-wrap col s12 l6 offset-l3">
		<img ng-src="{{user.pic}}">
			<!-- <div class="back_icon">
			<i class="material-icons">arrow_back</i>
		</div> -->
		</div>
		<div class="profile-info-wrap col s12 l6 offset-l3">
				<div class="card">
					<div class="card-content ">
						<span class="card-title">About</span>
						<div class="info-row ">
							<p class="info-icon"><i class="material-icons">account_box</i></p>
							<p class="info-value">{{user.name}}</p>
						</div>
						<div class="info-row ">
							<p class="info-icon"><i class="material-icons">local_offer</i></p>
							<p class="info-value" >{{user.nick}}</p>
						</div>
						<div class="info-row ">
							<p class="info-icon"><i class="material-icons">email</i></p>
							<p class="info-value">
							{{user.contact}}</p>
						</div>
					</div>
					
				</div>
		</div>
		<!-- <div class="profile-tags col s12 l6 offset-l3">
				<div class="card">
					<div class="card-content ">
						<div class="chip">
							Travel
							<i class="close material-icons">close</i>
						</div>
						<div class="chip">
							Foods
							<i class="close material-icons">close</i>
						</div>
					</div>
				</div>
		</div> -->
		 <div class="fixed-action-btn">
    <a class="btn-floating btn-large" ui-sref='app.edit_profile'>
      <i class="large material-icons">edit</i>
    </a>
  </div>
	</div>
