<div class="container view-status content-type-2 " ng-controller="ViewStatusController">
    <div class="student_status">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" />
                        <label for="test5">Check In</label>
                    </p>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" />
                        <label for="test5">Washing Machine</label>
                    </p>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" />
                        <label for="test5">Drier</label>
                    </p>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" />
                        <label for="test5">Iron</label>
                    </p>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" />
                        <label for="test5">Ready</label>
                    </p>
                </ul>
                <ul class="tabs tabs-fixed-width">
                    <p>
                        <input class="with-gap" name="group3" type="radio" id="test5" checked />
                        <label for="test5">Not Available</label>
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>
